# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyByDlbmK3jv8h_61AVeoYPDXcaYw8z4Qts
VITE_FIREBASE_AUTH_DOMAIN=os-hub-db.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=os-hub-db
VITE_FIREBASE_STORAGE_BUCKET=os-hub-db.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=528694651131
VITE_FIREBASE_APP_ID=1:528694651131:web:c4d6394dfdc88743cf685e

# Google Maps
VITE_GOOGLE_MAPS_API_KEY=AIzaSyAdNYCigSTxjhN3zL39QmB6H4nL5-zku7A
GOOGLE_MAPS_API_KEY=AIzaSyAdNYCigSTxjhN3zL39QmB6H4nL5-zku7A

